body {
    margin: 40px auto;
    max-width: 650px;
    font-size: 16px;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    background-color: #F3F3F3;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 130:
}

h1, h2, h3 {
    margin-bottom: 0.25em;
}

button, input[type=submit] {
    cursor: pointer;
    font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif;
}

/* The following hacks taken from https://stackoverflow.com/a/306593/1757964 */
#checkbox-filters label {
    display: inline-block;
    padding-left: 15px;
    text-indent: -15px;
    margin-right: 0.5em;
}

#checkbox-filters input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

footer {
    margin-top: 1em;
    font-size: smaller;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

abbr[title] {
    cursor: help;
}

abbr.wikiproject {
    font-size: 90%;
}

table {
    border-collapse: collapse;
    background-color: white;
}

td, th {
    padding: 0.25em;
    border: thin solid black;
}

td.pending {
    background-color: #F3EBA3;
}

#loading {
    text-align: center;
    font-size: 130%;
}

input[type=radio] {
    vertical-align: middle;
    margin-top: -1px;
}

#error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
}

#error:empty {
    display: none;
}

#checkbox-filters {
    margin-bottom: 0.75em;
}

#metadata {
    margin: 0.7em 0;
}
